

*.class

# Package Files #
*.jar
*.war
*.ear

# log und temp files
*.log
./*/logs/
*.err
*.tmp
*.bak
*~
tmp/

.cache
.history
dist/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# maven target folder
target/
bin/

